@import "tailwindcss";

@theme {
    --color-primary: oklch(70.57% 0.121 62.15);   /* #DF9755 */
    --color-secondary: oklch(83.22% 0.082 98.43); /* #E7D283 */
    --color-accent: oklch(92.72% 0.042 116.58);   /* #EDF4C2 */
}